.calculation-info h1 {
  font-size: 60px;
  text-align: center;
}

.calculation-info h2 {
  font-size: 50px;
  text-align: center;
}

.calculation-info h3 {
  font-size: 40px;
  text-align: center;
}

.calculation-info {
  font-size: 20px;
  margin: 40px;
}

.calculation-info p {
  text-align: left; /* テキストを左寄せ */
  margin: 0 auto;   /* 親要素内で中央に配置 */
  max-width: 600px; /* 必要に応じて幅を調整 */
}

.measures {
  text-align: center; 
}

.measures ul {
  display: inline-block; 
  text-align: left; 
  padding: 0;
  margin: 15px;
}

.measures li {
  margin-bottom: 10px;
}


#calculationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 400px;  
}

.height,
.weight {
  width: 100%; 
  text-align: left; 
  margin-bottom: 10px;
}

.cal-btn{
  display: flex;
  align-items: center;
}
.cal-btn {
  display: flex;
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
  height: 100%; /* 親要素の高さを基準にする場合 */
}

.calculation-result {
  text-align: center; /* テキストを中央揃え */
  margin: 5px 0; /* 上下にマージンを追加 */
  font-size: 40px;
}


.calculate-btn {
  width: auto;
  border-radius: 10px;
  padding: 5px;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

.calculation-result-container {
  text-align: center;
  margin: 5px 0;
  font-size: 30px;
}

#calculation-result {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.your-result {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #000;
  border-radius: 4px;
  background-color: #f0f0f0;
}

.calculation-image {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.calculation-pict {
  margin-bottom: 20px;
  width: 20%;
}
