.container {
    text-align: center;
    margin-top: 50px;
}
.form-group {
    margin-bottom: 15px;
}

.weight{
    margin-bottom: 20px;
  }

.drug_amount{
    margin-bottom: 20px;
}
.solution_volume{
    margin-bottom: 20px;
}
.flow_rate{
    margin-bottom: 20px;
}

.calculate-btn {
    padding: 10px 20px;
    border-radius: 5px;
    background: red;
    border: none;
    color: #fff;
    cursor: pointer;
}
.calculate-btn:hover {
    background: #45a049;
}
.result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.error-message {
    color: red;
}
.calculation-info {
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.target_dose_box{
    border: 1px solid #000;
    width: 100px;
    display: inline-block;
}

.drop-image{
    display: flex; /* フレクスボックスで配置 */
    justify-content: center; /* 中央揃え */
    gap: 10px; /* 画像間のスペース */
    margin-top: 20px; /* 上にマージンを追加 */
    width: 10%;
  }

.drop-pict{
    margin-bottom: 20px;
    width: 10%;
  }